@model BusinessLayer.Models.SubscriberView
@{
    ViewData["Title"] = "Subscribers";
}
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Subscribers</title>
</head>

<style>
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .header-row .title {
        font-size: 24px;
        font-weight: bold;
    }
    .header-row .add-form {
        display: flex;
        align-items: center;
    }
    .add-form input {
        margin-right: 10px;
        padding: 5px;
        width: 250px;
    }
    .btn-danger {
        color: #dc3545;
        background-color: transparent; /* Červené pozadí */
        border: none; /* Žádný okraj */
    }
    .btn-danger i {
        font-size: 16px; /* Velikost ikony */
    }
</style>


<div class="header-row">
    <div class="title">Subscribers</div>
    <form class="add-form" method="post" action="@Url.Action("AddSubscriber", "Subscriber", new { page = Model.CurrentPage })">
        <input type="email" class="form-control" id="email" name="EmailAddress" placeholder="Enter email address" required>
        <button type="submit" class="btn btn-primary">Add Subscriber</button>
    </form>
</div>
<table class="table">
    <thead>
    <tr>

    <th>Email address</th>
    <th>Actions</th>

    </thead>
    <tbody>
    @foreach (var item in Model.Subscribers)
    {
        <tr>
            <td>
                <p>@item.EmailAddress</p>
            </td>
            <td>
                <form method="post" action="@Url.Action("Delete", "Subscriber", new { id = item.Id })" onsubmit="return confirm('Are you sure you want to delete this subscriber?');">
                    <button type="submit" class="btn btn-danger" aria-label="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

Page @(Model.TotalPages < Model.CurrentPage ? 0 : Model.CurrentPage) of @Model.TotalPages

<div class="pagination flex justify-center items-center my-4">
    @if (Model.CurrentPage > 1)
    {
        <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)"
           style="margin-right: 10px" class="btn">
            &lt;
        </a>
    }
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <a asp-action="Index" asp-route-page="@i"
           style="margin-right: 5px" style="margin-left: 5px" class="btn">
            @i
        </a>
    }
    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)"
           style="margin-left: 10px" class="btn">
            &gt;
        </a>
    }
</div>
